#btn_slide {
    position: relative;
    bottom: 100px;
    left: 100px;
    z-index: 1000;
    background-color:blue;
}

#create_div {
    position: fixed;
    bottom: 70px;
    left: 0;
    background: #333;
    color: white;
    padding: 20px;
    width: 200px;
    transform: translateX(-100%) translateY(100%);
    transition: transform 0.4s ease;
}

#create_div.slide {
    transform:translateY(500px) translateX(500px)
}

