.musthover{
    transition: background-color 3s,box-shadow 3s ;

}
.musthover:hover {

        background-color: #1a1a1a;
         
  box-shadow: 
  rgba(18, 18, 18, 0.6) -5px -5px,
  rgba(18, 18, 18, 0.5) -10px -10px,
  rgba(18, 18, 18, 0.4) -15px -15px,
  rgba(18, 18, 18, 0.3) -20px -20px,
  rgba(18, 18, 18, 0.2) -25px -25px;




}
body {
    background-color: #121212 !important;
    color: #D8D8D8 !important;
    
    font-family: "Jersey 10", sans-serif;
    font-weight: 300;
    font-style: normal;
    
    font-size: 20px;
}
input{
    background-color: #121212;

}


.form-input {
    background-color: #121212;
    transition: background-color 2s,box-shadow 2s ;
    border-radius: 3px;
    color: #D8D8D8 !important;
    font-family: "Jersey 10", sans-serif;
  font-weight: 300;
  font-style: normal;
    padding: 3px;
    box-shadow: 3px 3px 1px black;
    font-size: 20px;
    box-sizing: border-box;

        }
.form-input:hover {
            background-color: #0c1112;
            /* box-shadow: 6px 6px  black; */
            box-shadow:
  rgba(90, 100, 110, 0.4) -5px 5px,
  rgba(90, 100, 110, 0.3) -10px 10px,
  rgba(90, 100, 110, 0.2) -15px 15px,
  rgba(90, 100, 110, 0.1) -20px 20px,
  rgba(90, 100, 110, 0.05) -25px 25px;
}
button, .button{
    background-color: #121212;
    transition: background-color 2s;
    border-radius: 3px;
    color: #D8D8D8 !important;
    font-family: "Jersey 10", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 3px;
    font-size: 20px;
    /* box-shadow: 3px 3px 1px black; */

        }
button:hover {
            background-color: #192124;
            /* box-shadow: 6px 6px  black; */

        

}
[contenteditable="true"]:focus {
  outline: none;
}
tr:hover {background-color: coral;}





